html {
  font-family: Roboto, sans-serif;
}

header {
  background-color: #1261A6;
}

.banner {
  background-image: url(../images/hand-with-phone.jpg);
  background-size: cover;
  background-position: center;
}

ol {
  color: #ffffff;
}

ol a {
  color: #ffffff;
  text-decoration: none;
}

.btn {
  border-radius: 50px;
}

small {
  color: #ffffff;
}

footer {
  background-color: #1261A6;
}
